* {
  box-sizing: border-box;
}

:root {
  --primary-color: #0f1b4c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins";
}

/* Common */
a {
  text-decoration: none;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.btn {
  display: inline-block;
  min-width: 9.8rem;
  background: var(--primary-color);
  border-radius: 12px;
  font-weight: 500;
  font-size: 1.4rem;
  text-align: center;
  color: #ffffff;
  padding: 18px 16px;
}

.content {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn:hover {
  opacity: 0.9;
}

/*============ Header ============*/
.header {
  position: relative;
  background-color: #e6f0ff;
  height: 100vh;
  /* min-height: 100%; */
  align-items: center;
}

.navbar {
  display: flex;
  padding-top: 38px;
  align-items: center;
}

.navbar ul {
  display: flex;
  margin-left: 6.4rem;
}

.navbar .actions {
  margin-left: auto;
}

.navbar ul a {
  font-weight: 500;
  font-size: 1.4rem;
  color: #4f5361;
  padding: 8px 1.4rem;
}

.navbar .action-link {
  font-weight: 500;
  font-size: 1.4rem;

  color: var(--primary-color);
}

.navbar ul a:hover {
  text-decoration: underline;
}

.navbar a.btn.action-btn {
  padding: 13px 16px;
  margin-left: 18px;
  border-radius: 8px;
}

.hero {
  margin-top: 130px;
}

.hero .info {
  width: 51%;
}

.hero .sub-title {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #687690;
}

.hero .title {
  margin-top: 8px;
  font-weight: 700;
  font-size: 6.2rem;
  line-height: 1.19;
  color: #000336;
}

.hero .desc {
  margin-top: 30px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.78;
  color: #5a6473;
}

.hero .hero-cta {
  margin-top: 40px;
  min-width: 170px;
}

.hero-img {
  position: absolute;
  right: calc((100vw - 1110px) / 2 - 100px);
  bottom: 0px;
}

/*============ Clients ============*/
.clients {
  margin-top: 122px;
}

.clients .row {
  display: flex;
  justify-content: space-between;
}

.clients .desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #7d8589;
}

.clients .row-desc {
  margin-top: 23px;
}

.clients .images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 96px;
}

/*============ Clients ============*/
.guides {
  margin-top: 200px;
}

.guides .sub-title {
  position: relative;
  font-weight: 600;
  font-size: 35px;
  line-height: 1;
  text-align: center;
  color: #000339;
}

.guides .sub-title::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 4.1rem;
  height: 0.4rem;
  background: #000339;
  border-radius: 12px;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.guides .desc {
  width: 459px;
  max-width: 100%;
  margin: 20px auto 0;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.88;
  text-align: center;
  color: #5a6473;
}

/*============ Guides ============*/

.list-guide {
  display: flex;
  margin-top: 70px;
  justify-content: center;
}

.guide-item {
  margin: 0 70px;
  text-align: center;
}

.guide-item .title {
  margin-top: 26px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.1;
  color: #3b3c45;
}

.guide-item .link {
  display: inline-block;
  margin-top: 10px;
  font-weight: 600;
  font-size: 1.4rem;
  color: #0689ff;
}

.guide-item .arrow {
  margin-left: 6px;
}

.guide-cta {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.guide-cta .btn {
  min-width: 170px;
}

/* ============= Featured ============= */
.featured {
  margin-top: 120px;
  padding: 110px 0;
  background: #f5fafe;
}

.featured .sub-title {
  font-weight: 600;
  font-size: 35px;
  line-height: 1;
  color: #000339;
}

.featured .row {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.featured .desc {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.88;
  color: #5a6473;
  word-break: break-all;
}

.featured .link {
  font-weight: 600;
  font-size: 14px;
  color: #0689ff;
  display: flex;
  align-items: center;
}

.featured .link .arrow {
  margin-left: 8px;
}

.featured .list {
  display: flex;
  gap: 30px;
  margin-top: 70px;
}

.featured .item {
  flex: 1;
  background: #fff;
  border-radius: 12px;
}

.featured .list .thumb {
  width: 100%;
  height: 227px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.featured .item .body {
  padding: 17px 20px 24px;
}

.featured .item .title a {
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  color: #000339;
}

.featured .item .desc {
  --line-clamp: 3;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #a3a6ab;
}

.featured .item .info {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.featured .item .label {
  margin-left: 8px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #4d4d52;
}

.featured .item .icon {
  margin-left: 23px;
}

.featured .item .icon:first-child {
  margin-left: 0;
}

.new-featured {
  margin-top: 75px;
  background: #fff;
  padding: 50px 196px;
}

.new-featured__content {
  display: flex;
}

.new-featured__content--left {
  position: relative;
}

.new-featured__content--left .card {
  position: absolute;
}

.new-featured__content .card {
  position: absolute;
  top: 0;
  left: 0;
  width: 239px;
  height: 252px;
  border-radius: 0px 0px 12px 12px;
  background: #fff;
}

.new-featured__content .card__header {
  display: flex;
  justify-content: space-between;
  margin: 25px 22px 8px;
}

.new-featured__content .card__desc {
  margin-left: 22px;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #a7a7a7;
  width: 194px;
}

.new-featured__content .card__divider {
  margin: 26px 22px;
  border: 1px solid #e9e9e9;
}

.card__header--metric {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.01em;
  color: #000339;
}

.list-user {
  display: flex;
  flex-direction: column;
  margin: 0px 22px;
  gap: 16px;
}

.list-user__first,
.list-user__second {
  display: flex;
  gap: 14px;
}

.avatars {
  display: flex;
}

.avatar__item {
  margin-left: -0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  color: #ffffff;
  width: 16.34px;
  height: 16.34px;
  box-shadow: 4px 4px 16px 0px #0000001a;
  border-radius: 50%;
  object-fit: cover;
}

.new-featured__img {
  display: block;
  margin-left: auto;
  width: 400px;
  height: 460px;
  border-radius: 12px;
  object-fit: cover;
}

.new-featured__content--right {
  padding: 79px 115px;
}

.new-featured__content--right .title {
  position: relative;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.28;
  color: #000339;
}

.new-featured__content--right .title::before {
  position: absolute;
  content: "";
  width: 41px;
  height: 4px;
  background: #000339;
  border-radius: 12px;
  top: -10px;
}

.new-featured__content--right .desc {
  margin-top: 20px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.87;
  color: #5a6473;
}

.new-featured__metrics {
  display: flex;
  justify-content: space-between;
  margin-top: 110px;
}

.metric__item .title {
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 1;
  color: #000000;
}

.metric__item .desc {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
}
/* Contact */
.contact {
  margin-top: 51px;
}

.contact .body {
  display: flex;
  background: #063183;
  border-radius: 20px;
  height: 370px;
}

.contact .body .info {
  padding: 149px 89px 110px 80px;
}

.contact .body .title {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1;
  color: #fff;
}

.contact .body .desc {
  margin-top: 15px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8;
  color: #fff;
  opacity: 0.75;
}

.contact .body .btn-subscribe {
  margin-top: 20px;
  background: #ffffff;
  color: #002366;
  width: 151px;
  height: 50px;
}

.contact .body .contact-phone-img {
  margin-top: -39px;
}

.footer {
  margin-top: 55px;
}

.footer .row {
  display: flex;
}

.footer .row-top {
  column-gap: 185px;
}

.footer .row-top .heading {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  color: #1c1c1d;
}

.footer .row-top .list {
  margin-top: 42px;
}

.footer .row-top .list .item {
  margin-top: 18px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #7a7a7e;
}

.footer .row-top .list .item a {
  font-weight: 400;
  font-size: 1.6rem;
  color: #7a7a7e;
  white-space: nowrap;
}

.footer .row-top .list .item:hover {
  cursor: pointer;
}

.footer .row-top .desc {
  margin-top: 42px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #7a7a7e;
}

.footer .row-top .social {
  display: flex;
  gap: 16px;
  margin-top: 40px;
}

.footer .row-top .social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background: #f9f9f9;
  border-radius: 3px;
}

.footer .row-top .social-link:hover {
  background: #ebebeb;
}

.footer .row-bottom {
  margin-top: 42px;
  margin-bottom: 58px;
  justify-content: space-between;
}

.footer .row-bottom .copyright {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #c2c2c2;
}
